.indexPage {
	
	&::before {
		@extend %clearfix;
		height:72px;
		@include responsive("mobile") {
			display:none;
		  }
	}

	.header {
		@include po-fix(0,0,auto,0,900);
		@include el-size(100%,72px);
		background:#fff;
		border-bottom:1px solid $fv-gray-3;
		&__inner {
			@include vw-mx-w(1280px);
			@extend %padding-d;
			padding-top: 25px;
			&::after {
				@extend %clearfix;
			}
		}
		&__logo {
			float:left;
			width: 91px;
			a {
				display: block;
			}
		}
		&__nav {
			float:right;
			
			li {
				display:inline-block;
				margin-left:40px;
				font-size:17px;
			}
			a {
				display:block;
				&:hover {
					color:$fv-sienna;
				}
			}
		}
		@include responsive("mobile") {
			display:none;
		  }
	}

	.main-visual {
		@include el-size(100%,86vh);
		max-height:560px;
		background:#fff9e7;
		@include responsive("mobile") {
			max-height:560px;
		  }
		&__inner {
			@include vw-mx-w(1280px);
			@extend %padding-d;
			@include responsive("mobile") {
				padding: 0 24px;
			  }
		}
		&__img-wrap {
			float:right;
			@include flexbox(nowrap);
			justify-content: center;
			width:50%;
			@include responsive("mobile") {
				padding:0 8px;
				width:100%;
				float:none;
				display:block;
			  }
		}
		&__desc-wrap {
			float:left;
			height:560px;
			@include flexbox(nowrap);
			justify-content: center;
			align-items: center;
			width:50%;
			@include responsive("mobile") {
				float:none;
				width:100%;
				max-width:300px;
				height:auto;
				display:block;
				margin:0 auto;
			  }
		}
		.desc-wrap__inner {
			width:100%;
			max-width:360px;
			height:241px;
			@include responsive("mobile") {
				height:auto;
			}
		}
		&__img {
			width:100%!important;
			max-width:484px;
			overflow:hidden;
			@include responsive("mobile") {
				max-width:320px;
				margin: 0 auto;
			  }
		}
		&__title {
			font-size:32px;
			font-weight:300;
			@include responsive("mobile") {
				margin-top:24px;
				font-size:22px;
			  }
		}
		&__caption {
			font-size:16px;
			font-weight:300;
			margin-top:16px;
			@include responsive("mobile") {
				margin-top:12px;
				font-size:14px;
			  }
		}
		.btn-cta {
			margin-top:32px;
			padding:12px 16px 10px;
			display: block;
			color:$fv-white;
			background: $fv-sienna;
			border-radius: 8px;
			font-size:18px;
			&:hover {
				background: #b73e15;
			}
			@include responsive("mobile") {
				margin-top:24px;
				font-size:16px;
				padding:10px 12px 8px;
			  }
		}
		
	}

	.banner-event {
		@include el-size (100%,80px);
		background:$fv-gray-0;
		@include responsive("mobile") {
			height:56px;
		  }
		&__inner {
			@include vw-mx-w(1280px);
			@extend %padding-d;
		}
		a {
			display: block;
		}
		.event-desc {
			text-align: center;
			font-size:18px;
			font-weight:400;
			@include responsive("mobile") {
				font-size:14px;
			}
		}
		.event-tag {
			color:$fv-white;
			margin-right:16px;
			margin-top:25px;
			display:inline-block;
			padding: 5px 8px 3px;
			font-size:14px;
			font-weight:500;
			background:$fv-gray-8;
			border-radius: 6px;
			@include responsive("mobile") {
				margin-top:17px;
				margin-right:12px;
				font-size:12px;
				padding:3px 6px 1px;
				border:1px solid $fv-gray-5;
				border-radius: 4px;
				background: $fv-white;
				color:$fv-gray-9;
			}
		}
		.event-text {
			display: inline-block;
			margin-right:8px;
			@include responsive("mobile") {
				display:none;
			}
		}

	}

	.message {
		@include vw-mx-w(1280px);
		@extend %padding-d;
		margin-top:160px;
		margin-bottom:200px;
		@include responsive("mobile") {
			padding:0 24px;
			margin:0 auto;
			width:100%;
			max-width:560px;
			margin-top:80px;
			margin-bottom:120px;
		  }
		&__inner {
			text-align: center;
			@include responsive("mobile") {
				text-align: left;
			  }
		}
		li {
			display: inline-block;
			margin-right:8px;
			font-size:40px;
			@include responsive("mobile") {
				display:block;
				font-size:32px;
				line-height: 1.25;
			}
		}
		p {
			margin-top:16px;
			font-size:20px;
			font-weight:300;
			@include responsive("mobile") {
				font-size:16px;
			}
		}
	}

	.find-story {

		@include vw-mx-w(1280px);
		@extend %padding-d;
		@include responsive("mobile") {
			padding:0;
		}
		&__inner {
			position: relative;
			background:#fff;
			border:1px solid $fv-gray-3;
			@include responsive("mobile") {
				padding-bottom:16px;
				background: $fv-gray-1;
				border:none;
			}
		}
		&__title {
			margin-bottom:20px;
			font-size: 22px;
			@include responsive("mobile") {
				margin:0 auto;
				width:100%;
				max-width: 560px;
				margin-bottom:16px;
				padding: 0 24px;
				font-size:20px;
				span {display:block;}
			}
		}
		&__card {
			@include flexbox(nowrap);
			padding: 64px 64px 96px;
			@include responsive("mobile") {
				margin:0 auto;
				width:100%;
				max-width: 560px;
				display:block;
				padding:24px 24px 0;
			}
		}
		&__img {
			width:280px;
			border-radius: 8px;
			overflow: hidden;
			@include responsive("mobile") {
				width:100%;
				height:240px;
			}
		}
		&__desc-wrap {
			padding-left:64px;
			@include responsive("mobile") {
				padding-left:0;
			}
		}
		&__tag-wrap {
			@include flexbox(nowrap);
			@include responsive("mobile") {
				margin-top:16px;
			}
		}
		&__tag {
			margin-right: 8px;
			padding: 5px 8px 3px;
			font-size:14px;
			font-weight:500;
			color:$fv-white;
			background:$fv-gray-8;
			border-radius: 6px;
			@include responsive("mobile") {
				font-size:13px;
				margin-right:4px;
			}
		}
		&__story-title {
			margin-top: 20px;
			font-weight: 700;
			font-size: 22px;
			@include responsive("mobile") {
				margin-top:20px;
				font-size:14px;
			}
		}
		&__story-content {
			margin: 12px 0;
			font-size: 18px;
			line-height: 1.7;
			@include responsive("mobile") {
				font-size:14px;
			}
		}
		&__customer {
			font-size: 14px;
			color: $fv-gray-6;
			@include responsive("mobile") {
				font-size:12px;
			}
		}
		.slider-decorator-0 {
			bottom: 32px!important;
			@include responsive("mobile") {
				position: static!important;
			}
		}
		.btn-carousel-wrap {
			position: absolute;
			right:64px;
			bottom:32px;
			@include responsive("mobile") {
				display:none;
			}
		}
		.btn-carousel {
			@include el-size(40px,40px);
			margin-left:16px;
			display:none;
		}
	}


	.lounge {
		@include vw-mx-w(1280px);
		@extend %padding-d;
		margin-top:160px;
		@include responsive("mobile") {
			padding:0 24px;
			margin-top:120px;
		  }
		&__title {
			font-size: 22px;
			@include responsive("mobile") {
				margin:0 auto;
				width:100%;
				max-width: 560px;
				font-size:20px;
				span {display:block}
			  }
		}
		&__caption {
			margin: 8px 0 32px;
			font-size:16px;
			@include responsive("mobile") {
				margin: 8px auto 24px;
				width:100%;
				max-width: 560px;
				font-size:15px;
			  }
		}
		&__list {
			@include flexbox(nowrap);
			justify-content: space-between;
			align-items: stretch;
			gap: 24px;
			@include responsive("mobile") {
				flex-direction: column;
			  }
		}
		&__thumb {
			font-size:18px;
			p {
				margin-top:8px;
			}
			a {
				display:block;
			}
			div {
				overflow: hidden;
			}
			img {
				overflow: hidden;
				border-radius: 8px;
				@include scale-up(1);
			}
			:hover {
				img {
					@include scale-up(1.1);
				}
			}
			@include responsive("mobile") {
				margin:0 auto;
				width:100%;
				max-width: 560px;
				font-size:16px;
			  }
		}
	}

	.bottom-cta {
		@include vw-mx-w(1280px);
		@include el-size(100%,560px);
		@extend %padding-d;
		margin-top:200px;
		margin-bottom:80px;
		@include responsive("mobile") {
			margin-top:80px;
			margin-bottom: 48px;
			padding:0;
			height:400px;
		  }
		&__inner {
			@include el-size(100%,100%);
			@include flexbox(nowrap);
			justify-content: center;
			align-items: center;
			background: url(/static/img/newLanding/bottom-8.png) center center / cover no-repeat;
			border-radius: 12px;
			@include responsive("mobile") {
				border-radius: 0;
			  }
		}
		.btn-cta {
			padding:16px 24px 15px;
			display: block;
			color:$fv-white;
			background: $fv-sienna;
			border-radius: 12px;
			font-size:20px;
			&:hover {
				background: #b73e15;
			}
			@include responsive("mobile") {
				
				padding:12px 26px 10px;
				border-radius: 8px;
				font-size:18px;
			  }
		}
	}


	.company {
		@include vw-mx-w(1280px);
		@extend %padding-d;
		padding-bottom:120px;
		@include responsive("mobile") {
			margin:0 auto;
			width:100%;
			max-width: 560px;
			padding: 0 24px;
			padding-bottom:64px;
		  }
		&__name {
			margin-left:20px;
			font-size: 16px;
			font-weight: 500;
			@include responsive("mobile") {
				margin-left:0;
			  }
		}
		&__info {
			margin: 20px 0 0;
			padding: 0 0 16px 0;
			border-bottom: 1px solid $fv-gray-3;
		}
		li {
			font-size: 12px;
			padding: 5px 0;
			margin-left:20px;
			span:nth-child(2) {
				padding-left: 10px;
				color: $fv-gray-6;
			}
			@include responsive("mobile") {
				margin-left:0;
			  }
		}
		&__link {
			margin-left:12px;
			@include responsive("mobile") {
				margin-left:0;
			  }
			a {
				margin: 12px 0 8px;
				line-height: 12px;
				display: inline-block;
				font-size: 12px;
				height: 14px;
				padding: 0 8px;
				vertical-align: middle;
			}
		}
	}

}



  .service__title {
		@include vw-mx-w(1280px);
		margin-top:160px;
		@extend %padding-d;
		margin-bottom:40px;
		font-size: 22px;
		@include responsive("mobile") {
			margin-top:80px;
			margin-bottom:16px;
			padding:0 24px;
			font-size:20px;
			span {display:block;}
		}
	}
  .service {
	  .inner {
		  margin-left:24px;
	  }

	@include vw-mx-w(640px);
    .descWrap {
      margin: 0 0 64px;
    }
    .imgWrap {
      margin: 0 0 20px 0;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .img {
        width: 260px;
        flex: 0 0 auto;
        overflow: hidden;
        &:nth-child(1) {
          margin: 0 8px 0 0;
        }
        &:nth-child(2) {
          width: 284px;
          height: 200px;
          img {
            width: 260px;
          }
        }
      }
      @include responsive("desktop") {
        display: block;
        .img {
          float: left;
          width: calc(50% - 4px);
          &:nth-child(2) {
            width: calc(50% - 4px);
            height: auto;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .txtWrap {
      padding: 0 24px 0 16px;
      p {
        font-size: 16px;
        font-weight: 700;
        &:nth-child(1) {
          margin: 0 0 12px 2px;
        }
        &:nth-child(2) {
          margin: 0 0 16px;
          font-size: 20px;
          line-height: 1.5;
          word-break: keep-all;
        }
        &:nth-child(3) {
          font-weight: 400;
          line-height: 1.7;
        }
      }
    }
  }






.am-modal-wrap.am-modal-wrap-popup {margin:0 auto;width:100%;max-width:480px}
.am-modal.am-modal-popup.am-modal-popup-slide-up {
  width:100%;max-width:480px;height:85vh;max-height:540px;overflow: hidden;border-radius: 20px 20px 0 0!important;background:#fff;
  @include responsive("desktop") {
    max-height:620px;
  }
}
.am-modal.am-modal-popup.am-modal-popup-slide-down {height:100%}
.am-accordion::before, .am-accordion-header::after {display:none!important}
.am-accordion-header {height:40px!important;line-height:40px!important;cursor: pointer;padding-left:8px!important;text-align:left;font-size:14px!important;text-decoration: underline;color:#33343a!important}
.am-accordion-header i {top:11px!important;left:168px!important;right:auto!important;width:14px!important;height:14px!important}

.modalWrap {
  position: relative;
  .modalDesc {
    padding:64px 20px 0;width:100%;color:#33343a;
    .main {font-size:20px;font-weight:300;line-height:30px;text-align:center}
    .sub {margin:24px 0 0;font-size:16px;font-weight:300;text-align:center;line-height:27px}
    @include responsive("desktop") {
      padding: 64px 20px 0;
    }
  } 
  .kakaoForm {
    margin:24px 0 0;padding:0 20px 0;
    @include responsive("desktop") {
      padding: 0 40px;
    }
    input {
      padding:0 0 0 12px;width:100%;height:40px;border:1px solid #ccc;border-radius:6px;background:#fff;font-size:15px;
      &:focus {border:1px solid #33343a}
      &::placeholder {color:#999}
    }
    select {
      padding:0 0 0 12px;width:calc(50% - 4px);height:40px;border:1px solid #ccc;border-radius:6px;background:#fff;font-size:15px;
      &:required:invalid {color:#999}
      &:focus {border:1px solid #33343a!important}
    }
    option {
      &:focus {border:1px solid #33343a}
      &[value=""][disabled] {display:none}
    }
    button {
      width:100%;height:44px;background:#c3512a;font-size:16px;color:#fff;border-radius:6px;
      &.disabled {background:#E7B9AA}
    }
    .birthyear {margin:8px 8px 0 0}
    .gender {margin:8px 0 0 0}
    .tel {margin:8px 0 16px}

    .policy {
      .inner {
        height:80px;
        overflow-y: scroll;
        padding: 0 8px 16px;
        text-align: left;
        font-size:12px;
        font-weight:300;
        color:#666;
        p:nth-child(2) {font-weight:500;margin:16px 0 6px}
        @include responsive("desktop") {
          height:auto;
        }
      }
    }
  }
  .closeBtn {
    position: absolute;
    top:24px;
    right:24px;
    width:16px;
    @include responsive("desktop") {
      display: block;
      top:32px;
      right:32px;
      width:20px;
    }
  }
}
.modalWrap.kakao__2 {
  .sub {font-size:16px;font-weight:400;margin:24px 0 8px}
  .sub__2 {font-size:14px;text-align:center}
  .confirm {display:block;margin:48px auto;width:calc(100% - 40px);height:44px;background:#33343a;font-size:16px;color:#fff;border-radius:6px}
}

.find-story__customer {display:none}
