.indexPage {
	
	&::before {
		@extend %clearfix;
		height:56px;
		@include responsive("mobile") {
			height:48px;
		  }
	}
	.landing_1_02 {
		.btn-cta {
			color:$fv-white;
			padding:12px 16px 10px;
			display: block;
			margin-top:32px;
			display: block;
			background: $fv-gray-9;
			border-radius: 8px;
			font-size:18px;
			font-weight: 500;
			@include responsive("mobile") {
				margin-top:24px;
				font-size:16px;
			  }
			&.btn-test {
				padding: 16px 16px 13px;
				margin-top:0;
				position: absolute;
				bottom:0;
				width:100%;
				max-width:640px;
				z-index:700;
				border-radius:0;
			}
		}
	}
	.main-visual {
		&.bg-test {
			.main-visual__img-wrap {
				background: url(/static/img/home/top-2.jpg) center center / cover no-repeat;
			}
			.main-visual__img {
				display:none;
			}
			@include responsive("mobile") {
				width:100%;
				background: url(/static/img/home/top-2.jpg) center center / cover no-repeat;
				.main-visual__title {padding-top:288px;color:$fv-white;margin-top:0;
					p {text-shadow: 1px 1px 1px rgba($color: $fv-gray-9, $alpha: 0.4);}
				}
				.main-visual__caption {color:$fv-white;text-shadow: 1px 1px 1px rgba($color: $fv-gray-9, $alpha: 0.4);}
				.main-visual__img {display:none}
			  }
		}
		@include el-size(100%,88vh);
		max-height:560px;
		background:#fff9e7;
		@include responsive("mobile") {
			height: auto;
		  }
		&__inner {
			@include vw-mx-w(1280px);
			@extend %padding-d;
			@include responsive("mobile") {
				padding: 0 24px;
			  }
		}
		&__img-wrap {
			float:right;
			@include flexbox(nowrap);
			justify-content: center;
			align-items: center;
			width:50%;
			height:560px;
			@include responsive("mobile") {
				padding:0 8px;
				width:100%;
				height: auto;
				float:none;
				display:block;
			  }
		}
		&__desc-wrap {
			float:left;
			height:560px;
			@include flexbox(nowrap);
			justify-content: center;
			align-items: center;
			width:50%;
			@include responsive("mobile") {
				float:none;
				width:100%;
				max-width:300px;
				height:auto;
				display:block;
				margin:0 auto;
			  }
		}
		.desc-wrap__inner {
			width:100%;
			max-width:412px;
			height:241px;
			@include responsive("mobile") {
				height:auto;
			}
		}
		&__img {
			width:100%!important;
			max-width:484px;
			overflow:hidden;
			img {
				@include responsive("mobile") {
					margin-top:40px;
				  }
			}
			@include responsive("mobile") {
				max-width:320px;
				margin: 0 auto;
			  }
		}
		&__title {
			font-size:32px;
			font-weight:300;
			@include responsive("mobile") {
				font-weight:300;
				margin-top:24px;
				font-size:22px;
			  }
		}
		&__caption {
			font-size:16px;
			font-weight:400;
			margin-top:16px;
			@include responsive("mobile") {
				margin-top:12px;
				padding-bottom: 40px;
				font-size:14px;
				font-weight:400;
			  }
		}
		.btn-cta {
			color:$fv-white;
			padding:12px 16px 10px;
			display: block;
			margin-top:32px;
			display: block;
			background: $fv-sienna;
			border-radius: 8px;
			font-size:18px;
			@include responsive("mobile") {
				margin-top:24px;
				font-size:16px;
			  }
			&.btn-test {
				@include responsive("mobile") {
					padding: 16px 16px 13px;
					margin-top:0;
					position: absolute;
					left:0;
					right:0;
					bottom:0;
					width:100%;
					max-width:841px;
					z-index:700;
					border-radius:0;
				}
			}
		}
		
	}

	.banner-event {
		@include el-size (100%,64px);
		background:$fv-gray-1;
		@include responsive("mobile") {
			height:56px;
		  }
		&__inner {
			@include vw-mx-w(1280px);
			@extend %padding-m;
		}
		a {
			display: block;
		}
		.event-desc {
			height:64px;
			@include flexbox(nowrap);
			justify-content: center;
			text-align: center;
			font-size:16px;
			font-weight:400;
			@include responsive("mobile") {
				font-size:14px;
				height:56px;
			}
		}
		.event-tag {
			margin-top:18px;
			margin-right:16px;
			height:28px;
			color:$fv-white;
			padding: 4px 10px 3px;
			font-size:14px;
			font-weight:500;
			background:$fv-gray-8;
			border-radius: 6px;
			@include responsive("mobile") {
				margin-top:16px;
				margin-right:12px;
				height:24px;
				font-size:12px;
				padding:4px 6px 2px;
				border-radius: 4px;
			}
		}
		.event-text {
			margin-top:21px;
			margin-right:8px;
			@include responsive("mobile") {
				display:none;
			}
		}
		strong {
			margin-top:21px;
			margin-right:8px;
			@include responsive("mobile") {
				margin-top:18px;
			}
		}
		.event-strong-m-only {
			display:none;
			@include responsive("mobile") {
				display:inline;
			}
		}

	}

	.score {
		@include vw-mx-w(1280px);
		@extend %padding-d;
		margin-top:80px;
		@include responsive("mobile") {
			margin-top:80px;
			padding:0 24px;
		}
		&__date {
			margin:0 auto;
			max-width:490px;
			text-align: left;
			font-size:12px;
			font-weight: 400!important;
			color: $fv-gray-6;
			@include responsive("mobile") {
				text-align: center;
			}
		}
		&__title {
			text-align: center;
			font-size:24px;
			font-weight:300;
			@include responsive("mobile") {
				.br {
					display:block;
				}
				line-height:1.7;
			}
			span {
				font-weight:700;
			}
			span.num {
				position: relative;
				font-weight: 700;
				z-index:600;
				&::after {
					position: absolute;
					z-index:-700;
					bottom:-1px;
					right:-4px;
					content:'';
					width:92px;
					height:6px;
					background: $fv-sienna;
					border-radius: 8px;
				}
			}
		}
		&__board {
			@include flexbox(nowrap);
			margin-top:40px;
			justify-content: center;
		}
		&__each {
			width:calc(680px / 3);
			@include responsive("mobile") {
				width:calc(100% / 3);
				max-width:160px;
			}
			text-align:center;
			.num {
				font-size:34px;
				font-weight:700;
				color:$fv-sienna;
				@include responsive("mobile") {
					font-size:19px;
					letter-spacing: 0;
				}
			}
			.type {
				margin-left:4px;
				font-size:16px;
				color:$fv-gray-5;
				@include responsive("mobile") {
					font-size:12px;
					margin-left:4px;
				}
			}
		}
		.line {
			background:$fv-gray-4;
			width:1px;
			margin:8px 0;
		}

		&__name {
			font-size:17px;
			font-weight:500;
			color:$fv-gray-7;
			@include responsive("mobile") {
				font-size:13px;
				margin-top:2px;
			}
		}
		&__desc {
			width:100%;
			max-width:420px;
			margin: 0 auto;
			margin-top:56px;
			text-align: center;
			font-size:13px;
			color:$fv-gray-6;
			@include responsive("mobile") {
				font-size:12px;
				margin-top:56px;
			}
			.left {
				float:left;
				@include responsive("mobile") {
					float:none;
					text-align: left;
					width:195px;
					margin:0 auto;
					div {margin-bottom:4px;}
				}
			}
			.right {
				float:right;text-align: left;
				@include responsive("mobile") {
					float:none;
					width:195px;
					margin:0 auto;
					div {margin-bottom:4px;}
				}
			}
			span {
				margin-left:12px;
			}
			&::after {
				@extend %clearfix;
			}
		}
	}
	.hashtags {
		@include vw-mx-w(1280px);
		padding: 0 48px;
		@include flexbox(wrap);
		justify-content: center;
		margin-top:80px;
		margin-bottom:60px;
		max-width:990px;
		@include responsive("mobile") {
			margin-top:64px;
			margin-bottom:64px;
		}
		&__unit {
			font-size:16px;
			font-weight:500;
			color:$fv-white;
			padding:12px 16px 10px;
			background: $fv-brown;
			border-radius: 8px;
			margin-right: 12px;
			margin-bottom:12px;
			@include responsive("mobile") {
				font-size:13px;
				padding:8px 12px 6px;
				border-radius: 6px;
				margin-right:8px;
				margin-bottom:8px;
			}
		}

	}
	.find-story {
		&__1 {
			display:block;
			@include responsive("mobile") {
				display: none;
			}
		}
		&__2 {
			display: none;
			@include responsive("mobile") {
				display: block;
			}
		}
		@extend %padding-d;
		@include vw-mx-w(1280px);
		@include responsive("mobile") {
			padding: 0;
		}
		&__carousel {
			.slick-track {
				padding:8px 0;
			}
			.slick-dots.slick-dots-bottom {
				bottom:-24px;
				li {
					width:8px!important;
					height:8px!important;
					border-radius:10px;
					background: $fv-gray-3!important;
					cursor:pointer;
					button {
						height:8px!important;
						background:none;
					}
				}
				li.slick-active {
					background: $fv-gray-5!important;
				}
			}
			.slick-arrow.slick-prev, .slick-arrow.slick-next {
				z-index:800;
				top:43%!important;
				opacity: 0.8;
				width:48px;
				height:48px;
				border-radius: 48px;
				//box-shadow: 0px 2px 4px rgba($color: $fv-gray-9, $alpha: 0.2)!important;
				@include responsive("mobile") {
					display:none!important;
				}
				&:hover {
					background:$fv-sienna;
				}
			}
			.slick-arrow.slick-next {
				background: url(/static/img/home/arrow-tp-right.png) no-repeat center center / 48px 48px,$fv-gray-3;
				right:-24px;
				&:hover {
					background:url(/static/img/home/arrow-tp-right.png) no-repeat center center / 48px 48px,$fv-sienna;
				}
			}
			.slick-arrow.slick-prev {
				background: url(/static/img/home/arrow-tp-left.png) no-repeat center center / 48px 48px,$fv-gray-3;
				left:-24px;
				&:hover {
					background:url(/static/img/home/arrow-tp-left.png) no-repeat center center / 48px 48px,$fv-sienna;
				}
			}
		}

		&__card {
			position: relative;
			width: calc(100% - 24px)!important; 
			margin-left:12px;
			background: $fv-white;
			box-shadow: 2px 2px 8px rgba($color: $fv-gray-9, $alpha: 0.2)!important;
			border-radius: 8px;
			overflow: hidden;
			@include responsive("mobile") {
				width: calc(100% - 48px)!important; 
				margin-left:24px;
			}
		}
		
		&__img {
			position: relative;
			height: 240px;
			overflow: hidden;
			@include responsive("mobile") {
				height:200px;
			}
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__desc-wrap {
			padding:24px 20px;
			@include responsive("mobile") {
				padding:20px 16px;
			}
		}
		&__story-title {
			font-size:16px;
			font-weight:700;
			word-break: keep-all;
			@include responsive("mobile") {
				font-size:15px;	
			}
		}
		&__story-content {
			margin-top: 12px;
			font-size:14px;
			line-height: 1.75;
			@include responsive("mobile") {
				margin-top: 8px;
				font-size:13px;
			}
		}
		&__tag-wrap {
			@include flexbox(nowrap);
			position: absolute;
			top:16px;
			left:16px;
			@include responsive("mobile") {
				top:12px;
				left:12px;
			}
		}
		&__tag {
			background:$fv-gray-8;
			border-radius: 6px;
			color:$fv-white;
			padding: 5px 8px 3px;
			margin-right:8px;
			@include responsive("mobile") {
				font-size:12px;
				padding: 4px 6px 2px;
				margin-right:8px;
				border-radius: 4px;
			}
		}
	}

	.service {
		@include el-size(100%,100%);
		margin-top:160px;
		background: $fv-gray-0;

		&__1 {
			display:block;
			@include responsive("mobile") {
				display: none;
			}
		}
		&__2 {
			display: none;
			@include responsive("mobile") {
				display: block;
			}
		}
		&__inner {
			@include vw-mx-w(1280px);
			padding-top:24px;
			@extend %padding-d;
			@include responsive("mobile") {
				padding: 0 0;
				margin:0 auto;
				width:100%;
				max-width: 560px;
			}
		}
		&__tabs {
			@include flexbox(nowrap);
			@include responsive("mobile") {
				display:none;
			}
		}
		&__tab {
			@include el-size(25%,64px);
			text-align: center;
			line-height: 64px;
			font-size: 16px;
			font-weight: 500;
			color: $fv-gray-7;
			border-bottom: 1px solid $fv-gray-4;
			cursor: pointer;
		}
		&__tab--selected {
			font-size: 18px;
			font-weight: 700;
			color: $fv-sienna;
			border-bottom: 2px solid $fv-sienna;
		}
		&__carousel {
			.slick-dots.slick-dots-bottom {
				bottom:20px;
				li {
					width:8px!important;
					height:8px!important;
					border-radius:10px;
					background: $fv-gray-3!important;
					cursor:pointer;
					button {
						height:8px!important;
						background:none;
					}
					@include responsive("desktopp") {

					}
				}
				li.slick-active {
					background: $fv-gray-5!important;
					@include responsive("desktopp") {

					}
				}
			}
			.slick-arrow.slick-prev, .slick-arrow.slick-next {
				z-index:850;
				top:40%!important;
				background:$fv-gray-3;
				width:48px;
				height:48px;
				border-radius: 48px;
				//box-shadow: 0px 2px 4px rgba($color: $fv-gray-9, $alpha: 0.2)!important;
				@include responsive("mobile") {
					display:none!important;
				}
			}

		}
		&__slide {
			display: flex!important;
			padding: 80px 0;
			@include responsive("mobile") {
				display:block!important;
				padding: 32px 24px 48px;
			}
			.content-txt, .content-img {
				width: 50%;
				@include responsive("mobile") {
					width: 100%;
				}
			}

			.content-txt {
				@include flexbox(nowrap);
				justify-content: center;
				align-items: center;
				@include responsive("mobile") {
					display: block;
					text-align: center;
				}
				&__inner {
					margin: 0 auto;
					padding-bottom: 16px;
					padding-left: 64px;
					max-width: 400px;
					@include responsive("mobile") {
						padding-left: 0;
						padding-bottom: 0;
					}

					.tabname {
						display: none;
						font-size: 13px;
						font-weight: 700;
						color: $fv-sienna;
						text-decoration: underline;
						@include responsive("mobile") {
							display: block;
						}
					}
					.title {
						margin-bottom: 24px;
						font-size: 28px;
						font-weight: 700;
						color: $fv-gray-9;
						@include responsive("mobile") {
							margin: 40px 0 24px;
							font-size: 24px;
						}
					}
					.caption {
						font-size: 16px;
						color: $fv-gray-7;
						word-break: keep-all;
						@include responsive("mobile") {
							margin-bottom: 32px;
							font-size: 15px;
						}
					}
				}
				
			}

			.content-img {
				padding-right: 88px;
				@include responsive("mobile") {
					padding-right: 0;
				}
				&__inner {
					margin: 0 auto;
					width: 100%;
					max-width: 400px;
					border-radius: 16px;
					overflow: hidden;
				}
			}
		}
	}

	.faq {
		margin: 160px 0 0;
		padding: 64px 0;
		background: $fv-gray-9;
		&__title {
			margin:0 auto;
			@include vw-mx-w(1280px);
			@extend %padding-d;
			font-size: 22px;
			font-weight:500;
			color:$fv-gray-0;
			@include responsive("mobile") {
				padding: 0 24px;
				width:100%;
				max-width: 584px;
				font-size:20px;
				span {display:block}
			  }
		}
		&__caption {
			margin:0 auto;
			@include vw-mx-w(1280px);
			@extend %padding-d;
			margin-top: 8px;
			margin-bottom: 32px;
			font-size:16px;
			color:$fv-gray-0;
			@include responsive("mobile") {
				padding: 0 24px;
				margin: 8px auto 24px;
				width:100%;
				max-width: 584px;
				font-size:14px;
			  }
		}
		&__collapse {

			@include vw-mx-w(1280px);
			margin: 0 auto;
			margin-top: 32px;
			@extend %padding-d;
			@include responsive("mobile") {
				margin:0 auto;
				margin-top: 32px;
				max-width:560px;
				padding: 0 12px;
			  }

			.ant-collapse-item {
				margin-bottom:12px;
				border-radius: 8px;
				background: $fv-gray-8;
				@include responsive("mobile") {
					margin-bottom: 8px;
					border-radius: 4px;
				  }
			}
			.ant-collapse-item-active {
				//background: $fv-gray-0;
				box-shadow: 0px 2px 4px rgba($color: $fv-gray-9, $alpha: 0.2)!important;
			}
			.ant-collapse-header {
				padding:19px 56px 15px 64px;
				color:$fv-gray-3;
				font-size: 17px;
				font-weight: 500;
				word-break: keep-all;
				&::after {
					content:'Q.';
					position: absolute;
					top: 18px;
					left: 24px;
					font-size: 18px;
					font-weight: 700;
					@include responsive("mobile") {
						display: none;
					  }
				}
				@include responsive("mobile") {
					padding:16px 40px 13px 16px;
					font-size:15px;
				  }
			}
			.ant-collapse-content-box {
				border-top: 1px solid $fv-gray-7;
				padding:24px 56px 40px 64px!important;
				@include responsive("mobile") {
					padding: 16px 16px 24px 16px!important;
				  }
			}
			.anticon.anticon-right.ant-collapse-arrow {
				path {
					color:$fv-gray-9;
				}
				top:18px;
				right:24px;
				width:24px;
				height:24px;
				@include bg-img(-106px,-10px,400px,400px);
				@include responsive("mobile") {
					top:12px;
					right:12px;
				  }
			}
			.anticon.anticon-caret-right.ant-collapse-arrow {
				padding:12px 16px;
				width:24px;
				height:24px;
				top:12px;
				right:24px;
				@include responsive("mobile") {
					top:8px;
					right:12px;
				  }
				  svg {
					  color:$fv-gray-6;
				  }
			}
		}

		&__answer {
			font-size: 16px;
			color:$fv-gray-3;
			line-height:1.7;
			@include responsive("mobile") {
				font-size:14px;
			  }
		}
	}

	.lounge {
		@include vw-mx-w(1280px);
		//@extend %padding-d;
		@extend %padding-m;
		@include responsive("mobile") {
			padding:0 24px;
		  }
		&__title {
			font-size: 22px;
			@include responsive("mobile") {
				margin:0 auto;
				width:100%;
				max-width: 560px;
				font-size:18px;
				span {display:block}
			  }
		}
		&__caption {
			margin: 8px 0 32px;
			font-size:16px;
			@include responsive("mobile") {
				margin: 8px auto 24px;
				width:100%;
				max-width: 560px;
				font-size:15px;
			  }
		}
		&__list {
			&::after {
				@extend %clearfix;
			}
		}
		&__thumb {
			font-size:16px;
			&:last-child {
				display:none;
			}
			@include responsive("desktopp") {
				float:left;
				width:50%;
				//width:33.3%;
				font-size:18px;
				&:first-child {
					padding-right:16px;
				}
				&:nth-child(2) {
					padding:0 8px;
				}
				&:last-child {
					padding-left:16px;
				}
			}
			@include responsive("mobile") {
				margin: 0 auto;
				max-width:560px;
				margin-bottom:16px;

			}
			p {
				margin-top:8px;
			}
			a {
				display:block;
			}
			div {
				overflow: hidden;
				border-radius: 8px;
			}
			img {
				overflow: hidden;
				border-radius: 8px;
				@include scale-up(1);
			}
			@media (hover: hover) {
				&:hover{
					img {
						@include scale-up(1.1);
					}
				}
			}

		}
	}

	.banner-brand {
		@include el-size (100%,64px);
		margin: 120px 0 0;
		background:$fv-gray-1;
		@include responsive("mobile") {
			margin: 64px 0 0;
		  }
		&__inner {
			@include vw-mx-w(1280px);
			@extend %padding-d;
			@include responsive("mobile") {
				@include vw-mx-w(480px);
				padding: 0 24px;
			  }
		}
		a {
			display: block;
		}
		.event-desc {
			@include flexbox(nowrap);
			justify-content: center;
			height:64px;
			text-align: center;
			font-size:17px;
			line-height:64px;
			font-weight:400;
			@include responsive("mobile") {
				text-align: left;
				display:block;
				padding-top:14px;
				font-size:13px;
				line-height:1.5;
			}
		}
		.event-text {
			display: block;
			margin-right:24px;
		}
		strong {
			display: block;
			color:$fv-sienna;
		}

	}

	.banner-brand {
		@include el-size (100%,64px);
		margin: 64px 0 0;
		@extend %padding-m;
		border-radius: 8px;
		@include responsive("mobile") {
			margin: 40px 0 0;
		}
		background: none!important;
		&__inner {
			border-radius: 8px;
			background:$fv-gray-1;
			@include vw-mx-w(1280px);
			@extend %padding-d;
			@include responsive("mobile") {
				@include vw-mx-w(480px);
				padding: 0 24px;
			  }
		}
		a {
			display: block;
		}
		.event-desc {
			@include flexbox(nowrap);
			justify-content: center;
			height:64px;
			text-align: center;
			font-size:17px;
			line-height:64px;
			font-weight:400;
			text-align: left;
			display:block;
			padding-top:10px;
			font-size:16px;
			line-height:1.5;
			@include responsive("mobile") {
				text-align: left;
				display:block;
				padding-top:14px;
				font-size:13px;
				line-height:1.5;
			}
		}
		.event-text {
			display: block;
			margin-right:24px;
		}
		strong {
			display: block;
			color:$fv-sienna;
		}

	}

	.bottom-cta {
		@include el-size(100%,560px);
		@include responsive("mobile") {
			padding:0;
			height:400px;
		  }
		&__inner {
			@include el-size(100%,100%);
			@include flexbox(nowrap);
			justify-content: center;
			align-items: center;
			background: url(/static/img/home/bottom-8.jpg) center center / cover no-repeat;
			@include responsive("mobile") {
				border-radius: 0;
			  }
		}
		.btn-cta {
			padding:16px 24px 15px;
			display: block;
			color:$fv-white;
			background: $fv-sienna;
			border-radius: 12px;
			font-size:18px;
			@include responsive("mobile") {
				
				padding:12px 26px 10px;
				border-radius: 8px;
				font-size:18px;
			  }
		}
	}


	.company {
		display:none;
		@extend %padding-d;
		background: $fv-gray-9;
		color:$fv-gray-3;
		padding-top: 64px;
		padding-bottom:64px;
		@include responsive("mobile") {
			margin:0 auto;
			width:100%;
			padding:48px 24px 64px;
			padding-bottom:64px;
		  }

		&__inner {
			@include vw-mx-w(1280px);
		}

		&__name {
			font-size: 16px;
			font-weight: 400;
		}
		&__info {
			margin: 20px 0 0;
			padding: 0 0 16px 0;
			border-bottom: 1px solid $fv-gray-7;
		}
		li {
			font-size: 12px;
			padding: 5px 0;
			span:nth-child(2) {
				padding-left: 10px;
				color: $fv-gray-6;
			}
		}
		&__link {
			a {
				color:$fv-gray-3;
				margin: 12px 0 8px;
				line-height: 12px;
				display: inline-block;
				font-size: 12px;
				height: 14px;
				padding: 0 8px;
				vertical-align: middle;
			}
		}
	}

}



 



/* -------- 모달 --------- */

body{ overflow:scroll!important}

.modal-cookie {
	.ant-modal-content {
		border-radius: 8px;
		overflow: hidden;
	}
	.ant-modal-footer {
		display:none;
	}
	p {
		margin-top: 20px;
		color: $fv-gray-9;
		font-size: 16px;
	}
	.modal-btn-wrap {
		margin-top: 16px;
		@include flexbox(wrap);
		justify-content: space-between;
		.modal-btn {
			padding: 6px 15px;
			background: $fv-white;
			border: 1px solid $fv-gray-4;
			border-radius: 4px;
		}
		.continue {
			color: $fv-white;
			background: $fv-gray-9;
			border: 1px solid $fv-gray-9;
		}
	}
}

.modal-heg {
	.ant-modal {
		max-width: 520px;
		padding-bottom: 0;
		@include responsive("mobile") {
			margin: 0px auto!important;
			vertical-align: bottom!important;
		}
		&-content {
			border-radius: 20px;
			@include responsive("mobile") {
				border-radius: 20px 20px 0 0;
			}
		}
		&-close, &-footer {
			display:none;
		}
		&-body {
			padding:0;
		}
	}
	/* -------- 모달 콜랩스 --------- */
	.modalWrap{
		.ant-collapse {
			.ant-collapse-header {
				padding:8px 8px!important;
			}
			.ant-collapse-content-box {
				padding:0 8px!important;
				.inner {
					padding:0!important;
				}
			}
			.anticon.anticon-right.ant-collapse-arrow {
				top:5px!important;
				right:auto!important;
				left:166px!important;
				padding:6px 0!important;
				transform: rotate(90deg)!important;
			}
		}
	}
	
	.submitFormWrap {
		.policy {
			.inner {
			  height:auto;
			}
		  }
	}
	
	.modalWrap {
	  position: relative;
	  .modalDesc {
		padding:64px 20px 0;width:100%;color:$fv-gray-9;
		@include responsive("mobile") {
			padding:56px 20px 0;
		  }
		.main {
			font-size:20px;font-weight:300;line-height:30px;text-align:center;
			@include responsive("mobile") {
				font-weight:300;
			  }
		}
		.sub {
			margin:24px 0 0;font-size:16px;font-weight:300;text-align:center;line-height:27px;
			@include responsive("mobile") {
				font-weight:300;
				margin:20px 0 0;
			  }
		}
		@include responsive("desktop") {
		  padding: 64px 20px 0;
		}
	  } 
	  .kakaoForm {
		margin:24px 0 0;padding:0 20px 0;
		@include responsive("desktop") {
		  padding: 0 40px 40px;
		}
		@include responsive("mobile") {
			padding-bottom:24px;
		  }
		input {
		  padding:0 0 0 12px;width:100%;height:40px;border:1px solid $fv-gray-3;border-radius:6px;background:$fv-white;font-size:15px;
		  &:focus {border:1px solid $fv-gray-9}
		  &::placeholder {color:$fv-gray-6}
		}
		select {
		  padding:0 0 0 12px;width:calc(50% - 4px);height:40px;border:1px solid $fv-gray-3;border-radius:6px;background:$fv-white;font-size:15px;
		  &:required:invalid {color:$fv-gray-6}
		  &:focus {border:1px solid $fv-gray-9!important}
		}
		option {
		  &:focus {border:1px solid $fv-gray-9}
		  &[value=""][disabled] {display:none}
		}
		button {
		  width:100%;height:44px;background:$fv-sienna;font-size:16px;color:$fv-white;border-radius:6px;
		  &.disabled {background:#E7B9AA}
		}
		.birthyear {margin:8px 8px 0 0}
		.gender {margin:8px 0 0 0}
		.tel {margin:8px 0 16px}
	
		.policy {
		  .inner {
			height:80px;
			overflow-y: scroll;
			padding: 0 8px 16px;
			text-align: left;
			font-size:12px;
			font-weight:300;
			color:$fv-gray-7;
			p:nth-child(2) {font-weight:500;margin:16px 0 6px}
			@include responsive("desktop") {
			  height:auto;
			}
		  }
		}
	  }
	  .closeBtn {
		position: absolute;
		top:24px;
		right:24px;
		width:16px;
		@include responsive("desktop") {
		  display: block;
		  top:32px;
		  right:32px;
		  width:20px;
		}
	  }
	}
	
	.modalWrap.kakao__2 {
		padding-bottom:48px;
	  .sub {font-size:16px;font-weight:400;margin:24px 0 8px}
	  .sub__2 {font-size:14px;text-align:center}
	  .confirm {
		  display:block;margin:48px auto 0;width:calc(100% - 64px);height:44px;background:$fv-gray-9;font-size:16px;color:$fv-white;border-radius:6px;
		  @include responsive("mobile") {
			width:calc(100% - 40px);
		  }
		}
	}

}