

.ant-modal-wrap {
    position: fixed;
    top:0;
    bottom:0;
    margin:0 auto;
    width:100%;
    max-width:480px;
}
.mypage-modal-outer {
    position: fixed;
    top:auto!important;
    bottom:0!important;
    margin: 0!important;
    padding: 0!important;
    width:100%!important;
    max-width:480px!important;
    height:88vh;
    max-height:740px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background:#fff;
}
.mypage-modal-outer .ant-modal-content {
    box-shadow: none;
}
.mypage-modal-outer .ant-modal-body {
    padding:0;
}
.mypage-modal-outer .ant-modal-footer {
    display:none;
}
.mypage-modal-outer .ant-modal-close-x {
    padding-top:8px;
    svg {color:$fv-gray-9}
}
.mypage-modal {
    position: relative;
    overflow-y: scroll;
    .q-wrap {
        padding-top: 40px;
        &__question-main {
            @extend %padding-m;
            margin-bottom: 4px;
            font-size: 20px;
            font-weight: 700;
            word-break: keep-all;
        }
        &__question-sub {
            @extend %padding-m;
            margin-bottom: 16px;
            font-size: 14px;
            color: $fv-gray-6;
        }
        &__btn {
            position:fixed;
            bottom:0;
            background:$fv-sienna;
            display:block;
            width:100%;
            max-width:480px;
            color:$fv-white;
            height:48px;
            font-size:17px;
        }
        &__btn-next--disabled {
            background:$fv-gray-4;
        }
    }
    .q12 {
        height:88vh;
        max-height:740px;
        overflow-y: scroll;
        &__coupon-area {
            display:none;
            padding: 12px;
            height:80px;
            background: $fv-gray-1;
        }
        &__coupon {
            width:100%;
            height: 56px;
            background: $fv-gray-2;
            border-radius: 8px;
        }
        &__schedule {
            padding: 0;
        }
        &__title-underline {
            margin-top: 8px;
            margin-bottom: 12px;
            display:block;
            content:'';
            @include el-size(100%,1px);
            background: $fv-gray-3;
        }
        &__day-date, &__lounge-time {
            padding: 16px 20px 12px;
            border-top: 12px solid $fv-gray-1;
        }
        &__lounge-time {
            padding: 16px 20px 48px;
        }
        &__day-date-title, &__lounge-time-title {
            font-size: 16px;
            font-weight: 700;
        }
        &__day-date-option-list {
            @include flexbox(wrap);
            justify-content: space-between;
    
        }
        &__day-date-option {
            text-align: center;
            .day {
                color: $fv-gray-5;
                font-size: 12px;
                &.today {
                    color: $fv-gray-9;
                    font-weight: 500;
                }
            }
            .date {
                @include el-size(32px,32px);
                margin-top:6px;
                font-size: 14px;
                font-weight: 500;
                line-height: 33px;
                border-radius: 24px;
                cursor: pointer;
                &.selected {
                    color:$fv-white;
                    background: $fv-sienna;
                }
            }
    
        }
        &__option-lounge {
            .lounge-name {
                margin-left: 4px;
                margin-bottom: 2px; 
                font-size: 15px;
                font-weight: 500;
            }
            .lounge-caption {
                margin-left: 4px;
                font-size: 13px;
                color: $fv-gray-5;
            }
            .option-list {
                @include flexbox(wrap);
                margin-top: 12px;
                margin-bottom: 24px;
            }
            .time {
                margin: 0 4px 12px 4px;
                @include el-size(72px,36px);
                line-height:38px;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                background: $fv-gray-1;
                border-radius: 24px;
                &.selected {
                    color:$fv-white;
                    background: $fv-sienna;
                }
            }
    
        }
    }
}

.whyCancel {
    .q-wrap {
        &__input-radio {
            display:none;
        }

        &__label-radio-100 {
            @include el-size(100%,48px);
            padding: 13px 24px;
            margin-bottom: 12px;
            display:block;
            font-size: 14px;
            border-radius: 8px;
            border: 1px solid $fv-gray-4;
            background: $fv-white;
            cursor: pointer;
        }
        &__input-radio:checked+.q-wrap__label-radio-100 {
            color: $fv-white;
            border: 1px solid $fv-gray-9;
            background: $fv-gray-9;
        }
        &__textarea-wrap {
            @extend %padding-m;
            margin-top: 40px;
        }
        &__textarea-caption {
            margin-bottom: 4px;
            font-size: 14px;
            color: $fv-gray-7;
        }
        &__textarea {
            @include el-size(100%,120px);
            padding: 16px;
            border: 1px solid $fv-gray-4;
            border-radius: 8px;
            &:focus {
                border: 1px solid $fv-gray-9;
            }
            &::placeholder {
                font-size:14px;
                line-height: 1.7;
                color: $fv-gray-5;
            }
        }

    }
}




.mypage {
    &::before {
		@extend %clearfix;
		height:56px;
		@include responsive("mobile") {
			height:48px;
		  }
    }
    &:after {height:0!important}
    /* 내용 부분 */
    .contentWrap {padding:0 20px;padding-bottom:0px;margin-top: 40px;}
    .contentWrap.noBooking {padding:0 20px;padding-bottom:100px}
    .qDesc3 {max-width:360px;margin:0 auto;padding:0 0 0 4px;font-size:24px;font-weight:300}
    .qDesc4 {max-width:360px;margin:1px auto 0;padding:0 0 0 4px;font-size:14px;color:#858789}

    /* 예약내역박스 */
    .status-card {margin:16px auto 0;padding:36px 20px 24px;max-width:360px;border-radius:8px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.16);background-color:#ffffff;}
    .booking-info {font-size:16px;line-height:1.7;text-align:center;margin-bottom:28px}
    .booking-info strong {color:$fv-sienna}
    .mapLink {display:block;font-size:13px;color:#ADAEB0;text-align:right;padding:0 24px 2px 0}
    .inner-btn-wrap button {width: calc( 50% - 4px ); border-radius:4px;font-size:14px;padding:8px 0}
    .inner-btn-wrap a {display:block;width:100%;border-radius:4px;font-size:14px;padding:8px 0;text-align:center}
    .btn-cancel {background:#fff;border:1px solid #979797;margin:0 8px 0 0}
    .btn-change {background:#33343a;color:#fff}
    .btn-start {background:$fv-sienna;color:#fff}

    @media (min-width:640px) {
      .mapLink {padding:0 40px 2px 0}
    }

}

.mypage-inquiry {



    &::before {
		@extend %clearfix;
		height:56px;
		@include responsive("mobile") {
			height:48px;
		  }
    }
    &:after {height:0!important}
    width:100%;
    max-width:480px;
    margin:0 auto;
    .q13 {
        .q-wrap__btn-next--disabled {
            color:$fv-white;
            background:$fv-gray-4;
        }
        .q-wrap__question-main {
            @extend %padding-m;
            margin-top:24px;
            margin-bottom: 4px;
            font-size: 20px;
            font-weight: 700;
            word-break: keep-all;
        }
        .q-wrap__question-sub {
            @extend %padding-m;
            margin-bottom: 16px;
            font-size: 14px;
            color: $fv-gray-6;
        }
        .q-wrap__btn-wrap {
            padding: 0 20px;
        }
        .q-wrap__btn {
            position: static;
            bottom:auto;
            width: 100%!important;
            border-radius: 4px;
            font-size:16px;
            height:40px;
            margin-top:8px;
            background: $fv-sienna;
            color:$fv-white;
        }
        .q-wrap__answer-wrap {
            padding: 0 20px;
        }
        .q-wrap__btn-next {
            width: 75%;
        }
        .q-wrap__input-text {
            @include el-size(100%,40px);
            padding: 0 12px;
            margin-bottom: 8px;
            border: 1px solid $fv-gray-4;
            border-radius: 4px;
            font-size:15px;
            &:focus {
                border: 1px solid $fv-gray-9;
            }
            &::placeholder {
                color: $fv-gray-4;
            }
        }
        .btn-num {
            @include el-size(100%,40px);
            font-size: 14px;
            color:$fv-white;
            border-radius: 4px;
            border: 1px solid $fv-gray-9;
            background: $fv-gray-9;
        }
        .btn-num--disabled {
            background: $fv-gray-4;
            border: 1px solid $fv-gray-4;
        }
        .input-text-num {
            position: relative;
            .btn-resend {
                width: 58px;
                height: 26px;
                background: $fv-gray-1;
                color: $fv-gray-9;
                border: 1px solid $fv-gray-2;
                border-radius: 4px;
                font-size: 12px;
                text-align: center;
                position: absolute;
                right: 10px;
                top: 7px;
            }
            .left-time {
                position: absolute;
                top: 11px;
                right: 80px;
                font-size: 13px;
            }
            .left-done {
                position: absolute;
                top: 11px;
                right: 80px;
                font-size: 13px;
                color: $fv-sienna;
            }
        }
}

}

