/* responsive width */
@mixin responsive($device) {
$max-mobile: 841px;
$min-desktop: 641px;
$min-desktopp: 842px;

  @if $device == "desktop" {
    @media screen and (min-width: $min-desktop) {
      @content;
    }
  } @else if $device == "desktopp" {
    @media screen and (min-width: $min-desktopp) {
      @content;
    }
  } @else if $device == "mobile" {
    @media screen and (max-width: $max-mobile) {
      @content;
    }
  }
}

/* viewport max-width */
@mixin vw-mx-w($max-width) {
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
}

/* position fixed */
@mixin po-fix($top, $right, $bottom, $left, $z-index) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

/* element size */
@mixin el-size($width, $height) {
  width: $width;;
  height: $height;
}

/* background-image */
@mixin bg-img($position-x, $position-y, $size-w, $size-h) {
  background-image: url(/static/img/img-wrap.jpg);
  background-repeat: no-repeat;
  background-position: $position-x $position-y;
  background-size: $size-w $size-h;
}

/* flexbox */
@mixin flexbox($wrap) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: $wrap;
}

/* scale up transition */
@mixin scale-up($scale) {
  transition: transform 0.35s;
  transform: scale($scale);
}
