body {
	background-color: $fv-white;
	color: $fv-gray-9;
}

img {
	width:100%;
	vertical-align: top;
}

a {
	color: $fv-gray-9;
	&:hover {
		color: $fv-gray-9;
	}
}

.clearfix {
	clear: both;
	display: block;
	content: '';
}

/* Input-box */
.input-box {
	@include el-size(100%,40px);
	position: relative;
	background-color: $fv-white;

	input:focus+label {
		font-size: 14px;
		color: $fv-gray-9;
	}

	&__input {
		@include el-size(100%,40px);
		padding: 0 8px;
		border: none;
		border-bottom: 1px solid $fv-gray-4;
		font-size: 16px;
		color: $fv-gray-9;
		&:focus {
			border-bottom: 1px solid $fv-gray-9;
		}
		&::placeholder {
			font-size: 16px;
			color: $fv-gray-6;
		}
		&--err {
			border-bottom: 1px solid $fv-sienna;
			&:focus {
				border-bottom: 1px solid $fv-sienna;
			}
		}
	}

	&__label {
		position: absolute;
		top: -21px;
		left: 8px;
		font-size: 14px;
		color: $fv-gray-6;
	}

	&__btn-wrap {
		display: flex;
		position: absolute;
		top: 8px;
		right: 8px;
	}

	&__btn-erase {
		@include el-size(24px,24px);
		@include bg-img(-82px,-10px,400px,400px);
		cursor:pointer;
	}

	&__btn-display {
		margin-left: 8px;
		color: $fv-sienna;
		cursor:pointer;
	}

	&__btn-ckeck-double {
		margin-left: 8px;
		font-size: 12px;
		color: $fv-gray-7;
		background: $fv-white;    
		border: 1px solid $fv-gray-4;
		border-radius: 4px;
	}

	&__btn-ckeck-double--done {
		background: $fv-gray-1;    
		border: 1px solid $fv-gray-1;
	}

	&__ico-check {
		@include el-size(24px,24px);
		@include bg-img(-34px,-10px,400px,400px);
		cursor: default;
	}

	&__ico-check--done {
		@include bg-img(-10px,-10px,400px,400px);
	}

	&__ico-check--err {
		@include bg-img(-58px,-10px,400px,400px);
	}

	&__msg-wrap {
		position: absolute;
		bottom: -22px;
	}

	&__msg {
		font-size: 12px;
	}

	&__msg.input-box__msg--err {
		color: $fv-sienna;
	}

}

/* kakao plusFriend button */
.global640 {display:block;width:100%;max-width:640px;margin:0 auto}
.global1280 {display:block;width:100%;max-width:1280px;margin:0 auto}
.kakaoLinkWrap {position:fixed;bottom:0;width:100%;max-width:1280px;z-index:800}
.kakaoLinkWrap a {display:block;position: absolute; bottom:0;right:0;width:48px;height:48px;z-index: 5000;}
.kakaoLinkWrap a img {display:none}
.kakaoBtn {position:absolute;right:24px;bottom:24px;width:48px;height:48px}
.kakaoBtn img {position:relative;width:100%}
#create-channel-add-button.btnAsk a {position:static;display:block;height:48px;margin-top:-48px}
@include responsive("mobile") {
  .kakaoBtn {position:absolute;right:16px;bottom:16px;width:48px;height:48px}
}

/* 뒤로가기 버튼 */
.goBackBtnWrap {position:fixed;width:100%;max-width:640px;height:40px;z-index:5000}
.goBackBtnWrap .goBackBtn {cursor:pointer;float:left;margin:20px 0 0 20px;width:40px;height:40px;background:url(/static/img/newLanding/goBackBtn.png) center center / cover no-repeat;border-radius:100%}
.goBackBtnWrap .goBackBtn a {display:block;height:40px}
.headroom {display:block;content:'';clear:both;height:80px}
/* 브랜드 페이지 */
.brandWrap {margin-top:48px;}
.brandWrap .titWrap, .brandWrap .infoWrap, .brandWrap .descWrap {margin-bottom:40px}
.brandWrap .caption {font-size:20px;font-weight:bold;margin:24px 0;padding:0 20px}
.brandWrap .titWrap .titImg img, .brandWrap .descWrap .mainImg img, .brandWrap .descWrap .subImg img {width:100%}
.brandWrap .titWrap {position:relative}
.brandWrap .titWrap .titTxt {position:absolute;z-index:910;bottom:24px;left:24px;right:24px}
.brandWrap .titWrap .en, .titWrap .ko {color:#fff;font-weight:700}
.brandWrap .titWrap .en {font-size:24px}
.brandWrap .titWrap .ko {font-size:32px;margin:4px 0 0}
.brandWrap .titWrap .bgBk {position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,0.3);z-index:900}
.brandWrap .modelWrap {display:none}
.brandWrap .descWrap {padding:0 0 64px}
.brandWrap .descWrap .mainTxt, .brandWrap .descWrap .mainDesc, .brandWrap .descWrap .subTxt, .brandWrap .descWrap .subDesc {padding:0 20px}
.brandWrap .descWrap .mainTxt {margin:20px 0 0;font-size:18px;font-weight:bold;line-height:28px;word-break:keep-all}
.brandWrap .descWrap .mainDesc, .brandWrap .descWrap .subDesc {margin:16px 0 0;font-size:17px;line-height:28px}
.brandWrap .descWrap .subImg {margin:48px 0 0}
.brandWrap .descWrap .subTxt {margin:20px 0 0;font-size:18px;font-weight:bold;word-break:keep-all}
.brandWrap .specTable {padding:0 20px}
.brandWrap .specTable li {border-bottom:1px solid #eceeef}
.brandWrap .specTable li:nth-child(1) {padding:0 16px;height:48px;font-size:13px;font-weight:bold;line-height:44px;border-top:2px solid #ADAFB0;border-bottom:2px solid #ADAFB0}
.brandWrap .specTable li:nth-child(n+2) {padding:10px 16px;font-size:13px}
.brandWrap .specTable li:last-child {border-bottom:2px solid #ADAFB0}
.brandWrap .specTable li:after {display:block;clear:both;content:''}
.brandWrap .specTable li span {float:left}
.brandWrap .specTable li span:nth-child(1) {width:50%}
.brandWrap .specTable li span:nth-child(2) {width:50%;text-align:right;word-break:break-all}
.brandLink {margin-top:16px}
.brandLink a {font-size:14px;font-weight:700;color:#C3512A;text-decoration:underline}