$fv-gray-0: #f8f9fa;
$fv-gray-1: #f1f3f5;
$fv-gray-2: #e9ecef;
$fv-gray-3: #dee2e6;
$fv-gray-4: #ced4da;
$fv-gray-5: #adb5bd;
$fv-gray-6: #868e96;
$fv-gray-7: #495057;
$fv-gray-8: #343a40;
$fv-gray-9: #212529;

$fv-brown:#64433f;
$fv-sienna: #c3512a;
$fv-white: #fff;

$text-color: $fv-gray-8;
$text-color-crisp: $fv-gray-9;
$text-color-light: $fv-gray-6;

$hr-color: $fv-gray-3;
$border-color: $fv-gray-3;
