.survey-header {

    .progress {
        &__bar {
            @include po-fix(auto,0,auto,0,999);
            margin-top:-1px;
            display: block;
            height: 2px;
            .ant-progress-outer, .ant-progress-inner, .ant-progress-bg {
                height: 2px!important;
            }
            .ant-progress-inner, .ant-progress-bg {
                vertical-align: top;
                border-radius: 0;
            }
            .ant-progress-inner {
                background: $fv-gray-3;
            }
            .ant-progress-bg {
                background: $fv-gray-9;
            }
        }
        &__steps {
            @include flexbox(nowrap);
            justify-content: space-between;
            padding: 32px 20px 16px;
            @include responsive("mobile") {
                background: $fv-gray-1;
                padding: 16px 20px 14px;
            }
        }
        &__step-name {
            font-size: 14px;
            font-weight: 400;
            color: $fv-gray-4;
        }
        &__step-name--active {
            font-weight: 700;
            color: $fv-gray-9;
        }
        &__step-arrow {
            font-size: 14px;
            color:$fv-gray-3;
        }
        &__step-arrow--active {
            color: $fv-gray-8;
        }
        @include responsive("mobile") {
            &__step-name {
                font-size: 12px;
            }
            &__step-arrow {
                font-size: 12px;
            }
        }
    }
}